body {
    background: #5cdb95;
    color: #EDF5E1;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/* HEADER */

header {
    background: #05386B;
    padding: 0px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    padding: 25px;
}

@media screen and (max-width: 1000px) {
    nav li {
        display: block;
        font-size: 50px;
        font-weight: bold;
        padding: 25px;
    }
}

nav a {
    color: #EDF5E1;
    text-decoration: none;
}

nav a:hover{
    color: #5cdb95;
}

/* PARALLAX */

.parallax {
    /* The image used */
    background-image: url('../img/commingsoon.jpg');
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* Set a specific height */
    min-height: 600px;
    position: relative;
    /* display: flex;
    align-items: center;
    justify-content: center */
}

.parallax h1, .parallax h2, .parallax p{
    /* background: rgba(5, 56, 107, 0.5);
    color: #8EE4AF; */
    color: #05386B;
    font-size: 100px;
    font-weight: bolder;
    text-shadow: 0px 1px, 1px 0px, 1px 1px;
    text-shadow: 5px 5px 0 #5cdb95;
    padding: 20px;
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -25%);
    /* margin: 0; */
    text-align: center;
    text-transform: uppercase;
    width: 90%;
}

@media screen and (max-width: 900px) {
    .parallax h1, .parallax h2, .parallax p{
        font-size: 80px;
    }
}

@media screen and (max-width: 750px) {
    .parallax h1, .parallax h2, .parallax p{
        font-size: 60px;
    }
}

@media screen and (max-width: 550px) {
    .parallax h1, .parallax h2, .parallax p{
        font-size: 40px;
    }
}

/* ABOUT SECTION */

.about {
    color: #05386B;
    padding: 40px 20px;
}

.about h2 {
    text-align: center;
}

.about p {
    text-align: justify;
}

/* PARALLAX 2 */

.parallax-2 {
    background-image: url('../img/parallax2.jpg');
}

/* MAIN SECTION */

.main-stuff {
    background: #05386b;
    color: #05386b;
}

/* TIMELINE */

.title {
    background: #05386B;
    padding: 10px 0 0 0;
}

.title h2 {
    background: #8EE4AF;
    border-radius: 6px;
    font-size: 40px;
    display: block;
    margin: auto;
    padding: 20px;
    text-align: center;
    width: 200px;
}

.timeline {
    position: relative;
    /* max-width: 1200px; */
    margin: 0 auto;
}
  
/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #8EE4AF;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    z-index: 1;
}

/* The slant block */
.timeline .slant-block {
    content: '';
    position: absolute;
    background: #008CBA;
    width: 100%;
    height: 40%;
    top: 60%;
    left: 50%;
    transform: translate(-50%, 0);
    transform-origin: top center;
    z-index: 1;
}

.timeline .slant-block::before {
    content: '';
    position: absolute;
    background: #008CBA;
    width: 100%;
    height: 80%;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) skewY(-30deg);
    z-index: 0;
}
  
/* Container around content */
.container {
    box-sizing: border-box;
    padding: 10px 40px;
    position: relative;
    background-color: #05386B;
    width: 50%;
}

/* The circles on the timeline */
.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: #379683;
    border: 4px solid #8EE4AF;
    top: 15px;
    border-radius: 50%;
    z-index: 2;
}

.right::after {
    left: -16px;
}

.left {
    left: 0;
}

.right {
    left: 50%;
}

/* The little triangle */
.left::before {
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    top: 22px;
    right: 30px;
    z-index: 2;
    border: medium solid #5cdb95;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #5cdb95;
}

.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 2;
    left: 30px;
    border: medium solid #5cdb95;
    border-width: 10px 10px 10px 0;
    border-color: transparent #5cdb95 transparent transparent;
}

.content {
    padding: 20px 30px;
    background-color: #5cdb95;
    position: relative;
    border-radius: 6px;
    z-index: 2;
}
  
@media screen and (max-width: 1200px) {
    .title h2 {
        display: block;
        margin: 0 5px;
        padding: 20px;
        text-align: center;
        width: 200px;
    }

    .timeline::after {
        left: 31px;
    }

    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    .container::before {
        left: 60px;
        border: medium solid #5cdb95;
        border-width: 10px 10px 10px 0;
        border-color: transparent #5cdb95 transparent transparent;
    }

    .left::after, .right::after {
        left: 15px;
    }

    .right {
        left: 0%;
    }
}

.map {
    background: #008CBA;
    padding: 0 0 40px 0;
}

.map iframe {
    border: 6px solid #8EE4AF;
    border-radius: 6px;
    display: block;
    margin: auto;
    width: 800px;
    height: 600px;
}

@media screen and (max-width: 1200px) {
    .map iframe {
        margin: auto;
        width: 95%;
    }
}

/* PARALLAX 3 */

.parallax-3 {
    background-image: url('../img/parallax3.jpg');
}

/* MENU */

.main-stuff ul {
    margin: 0;
    padding: 20px;
    list-style-type: none;
}

.menu ul {
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.menu li {
    border: 1px solid #EDF5E1;
    box-shadow: gray 0 0 10px;
    color: #05386B;
    margin: 10px auto;
    position: relative;
    text-align: center;
    height: 350px;
    width: 350px;
}

/* .menu .square {
    width: 350px;
    padding-bottom: 350px;
    position: relative;
} */

@media screen and (max-width: 1000px) {
    .menu li{
        width: 90vw;
        height: 90vw;
    }

    .menu li .overlay h3 {
        font-size: 40px;
    }

    .menu li .overlay p {
        font-size: 40px;
    }

}

.menu img {
  width: 100%;
}

.menu ul .overlay {
  color: #EDF5E1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA; 
}

.menu li:hover .overlay {
  opacity: 1;
}

/* FOOTER */

footer {
    font-size: 12px;
    padding: 10px 20px;
    text-align: center;
}